
header {
    background-color: white;
}
nav {
   margin-top: 2%;
}

nav ul li a {
    color: black; 
}

h2 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
}


img {
    height: 100%;
    width: 100%;
}